/* mobile */
/* small screen */
@media screen and (min-width: 320px) and (max-width: 780px){
    /* header */
#hd{
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hd__sect01{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
 #hd__sect01 img{
    width: 150px;
    height: 60px;
    object-fit: cover;
}
#hd__sect02{
    flex: 1.5;
}
#hd__sect03{
    display: none;
}
/* main */
#mn{
    grid-template-columns: 50vw 50vw;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "mn__sect01 mn__sect01 "
    "mn__sect02 mn__sect02 "
    "mn__sect03 mn__sect04 "
    "mn__sect05 mn__sect06 "
    "mn__sect07 mn__sect08 "
    ;
}
.mn__sect01,.mn__sect03{
    width: 100%;
    height: 40vh;
}
#mn__sect01 {
    flex-direction: row;
}
#cvBtn{
    width: 4rem;
}
#contactBtn{
    width: 5rem;
}
#hd__sect02 ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
#mn__sect01 img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin:0 10px;
}
#mn__sect01 h2{
    font-size: 1rem;
}
#mn__sect02 h2{
    font-size: 10rem;
}
/* footer */
/* #ft{
    background-color: #03180d;
    width: 100%;
    height: 10vh;
} */
}